@page "/Consultas/Productos"

@using Parcial1_Ap2_Cacerez.BLL
@using Models
@using Blazored.Toast.Services
@inject IToastService toast


<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>--Consulta de Productos--</h3>
        </div>

        <div class="card-body">
            <div class="input-group mb-4">
               
                    <label for="filtro">Filtro: </label>
                    <select class="form-control ml-3 mr-3" @bind="Filtro">
                        <option value="" disabled selected>filtro</option>
                        <option value="Todo">Todo</option>
                        <option value="Id">ID</option>
                        <option value="Descripcion">Descripcion</option>
                    </select>

                    <label for="criterio ml-3 mr-3"> Criterio: </label>
                    <input type="search" class="form-control ml-3 mr-3" @bind-value="Criterio" />

                    <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar </button>
                
            </div>

            <table class="table table-striped table-dark mb-3 mt-3">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Descripcion</th>
                        <th>Existencia</th>
                        <th>Costo</th>
                        <th>Total Inventario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lista)
                    {
                        <tr class="table-striped">
                            <td>@item.ProductoId</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Existencia</td>
                            <td>@item.Costo</td>
                            <td>@item.Inventario</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <div class="card-footer">
                <label for="TotalInventario">Total Inventario</label>
                <InputNumber @bind-Value="TotalInventario" class="form-control" step="00.2" ReadOnly="true"></InputNumber>
            </div>
        </div>
    </div>
</EditForm>


@code {

    private List<Productos> lista { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    private decimal TotalInventario { get; set; }
    public string mensaje;

    protected override void OnInitialized()
    {

        lista = new List<Productos>();

    }

    private void Calcular()
    {
        foreach (var item in lista)
        {
            TotalInventario += item.Inventario;
        }
    }

    private void Buscar()
    {
        try
        {
            if (Filtro == null)
            {
                toast.ShowWarning("Escoja un Filtro");
            }
            else
            {
                lista = ProductosBLL.GetList(a => true);

                if (lista.Count == 0)
                {
                    toast.ShowWarning("No hay Producto");
                }
                else
                {
                    mensaje = "Filtro";
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = ProductosBLL.GetList(e => true);
                            break;
                        case "ID":
                            lista = ProductosBLL.GetList(e => e.ProductoId== Convert.ToInt32(Criterio));
                            break;
                        case "Descripcion":
                            lista = ProductosBLL.GetList(e => e.Descripcion == Criterio);
                            break;
                    }

                    Calcular();
                }
            }
        }
        catch (Exception)
        {
            throw;
        }
    }

   


}
